.content {
  background-image: url("../../images/Highway.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(auto, 1100px) minmax(0, 1fr);
}
